<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="js/connect.js"></script>
    <script src="js/info.js"></script>
</head>
<body>


<div class="select-template" style="display: inline-block"></div>
<div class="select-template-two" style="display: inline-block"></div>
<div class="info-template"></div>


<!--<script id="select1" type="text/template">
    <select class="select1">
        <% for( var i = 0; i < items.length; i++) { %>
        <% if(items[i] === selected){ %>
        <option selected><%=items[i]%></option>
        <% }else{ %>
        <option><%=items[i]%></option>
        <% } %>
        &lt;!&ndash;<option <%= items[i] === selected ? 'selected' : '' %> ><%=items[i]%></option>&ndash;&gt;
        <% } %>
    </select>
</script>

<script id="information" type="text/template">
    <ul id="content">
        <% for(var i = 0; i < items.length; i++) { %>
        <li><%=items[i]%></li>
        <% } %>
    </ul>
</script>-->

</body>
<script src="js/main.js"></script>
</html>